<div class="card">
  <div class="card-header">
    <div class="mb-2">
      Actualizar empresa
      <!-- <a href="" [routerLink]="'crear'" class="btn btn-sm btn-secondary px-4 float-end">Editar</a> -->
    </div>
  </div>
  <div class="card-body">
    <form>
        <div class="mb-3">
          <label for="" class="form-label">Nombre</label>
          <input type="text"
            class="form-control" name="" id="" aria-describedby="helpId" placeholder="Ingresa el nombre de la empresa">
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Tipo de empresa</label>
          <input type="text"
            class="form-control" name="" id="" aria-describedby="helpId" placeholder="Ingresa el tipo de empresa">
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Direccion</label>
          <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Calle 23 s/n x 03 s/n ">
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Colonia</label>
          <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="UET 1 ">
        </div>
        <div class="btn-group" role="group" aria-label="">
          <button type="button" class="btn btn-success ">Actualizar</button>
          <button type="button" class="btn btn-secondary ">Cancelar</button>
        </div>
    </form>
  </div>
</div>
