  <div class="cotainer">
      <div class="row justify-content-center">
          <div class="col-md-8">
                  <div class="card ">
                      <div class="card-header">Register</div>
                      <div class="card-body">
                          <form name="my-form"  method="">
                              <div class="form-group row">
                                  <label for="full_name" class="col-md-4 col-form-label text-md-right">Nombre completo</label>
                                  <div class="col-md-6 mb-2">
                                      <input type="text" id="full_name" class="form-control" name="full-name">
                                  </div>
                              </div>

                              <div class="form-group row">
                                  <label for="email_address" class="col-md-4 col-form-label text-md-right">Corre electronico</label>
                                  <div class="col-md-6 mb-2">
                                      <input type="text" id="email_address" class="form-control" name="email-address">
                                  </div>
                              </div>

                              <div class="form-group row">
                                  <label for="user_name" class="col-md-4 col-form-label text-md-right">Nombre usuario</label>
                                  <div class="col-md-6 mb-2">
                                      <input type="text" id="user_name" class="form-control" name="username">
                                  </div>
                              </div>

                              <div class="form-group row">
                                  <label for="phone_number" class="col-md-4 col-form-label text-md-right">Telefono</label>
                                  <div class="col-md-6 mb-2">
                                      <input type="text" id="phone_number" class="form-control">
                                  </div>
                              </div>

                              <div class="form-group row">
                                  <label for="present_address" class="col-md-4 col-form-label text-md-right">Direccion</label>
                                  <div class="col-md-6 mb-2">
                                      <input type="text" id="present_address" class="form-control">
                                  </div>
                              </div>

                              <div class="form-group row">
                                  <label for="permanent_address" class="col-md-4 col-form-label text-md-right">Colonia</label>
                                  <div class="col-md-6 mb-2">
                                      <input type="text" id="permanent_address" class="form-control" name="permanent-address">
                                  </div>
                              </div>

                              <div class="form-group row">
                                  <label for="nid_number" class="col-md-4 col-form-label text-md-right"><abbr
                                              title="National Id Card"></abbr> Empresa</label>
                                  <div class="col-md-6 mb-2">
                                      <input type="text" id="nid_number" class="form-control" name="nid-number">
                                  </div>
                              </div>
                              <div class="form-group row">
                                <label for="nid_number" class="col-md-4 col-form-label text-md-right"><abbr
                                            title="National Id Card"></abbr> Tipo empresa</label>
                                <div class="col-md-6 mb-2">
                                    <input type="text" id="nid_number" class="form-control" name="nid-number">
                                </div>
                            </div>

                                  <div class="col-md-6 offset-md-4">
                                      <button type="submit" class="btn btn-primary">
                                      Registrarse
                                      </button>
                                  </div>
                          </form>
                    </div>
                </div>
        </div>
